/* ############# HTML TAGS ############### */

body{
    background-color: #FFFBDF;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
}
img{
    margin: 0;
    padding: 0;
}

h3{
    margin-top: 0%;
    padding-top: 0%;
    color: #334443;
    font-size: 2rem;
    font-family: 'Cormorant Garamond', serif;
}
h4{
    
    font-size: 1.2rem;
    font-weight: 800;
    color: #2978B5;
}
a{
    color: #334443;
    text-decoration: none;
}
a:hover{
    color:cornflowerblue;
}

hr{
    height: 0px;
    border-style: dotted;
    border-width: 5px;
    border-bottom: 0px;
    width: 5%;
    margin-top: 50px;
    margin-bottom: 50px;
    color: darkgrey;
}

/* ############# Class ############### */

.btn{
    border-style: none;
    background-color: transparent;
    padding-right: 10px;
    padding-left: 20px;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: 'Cormorant Garamond', serif;
    position: relative;
    top: 25px;
}

.btn:hover{
    color: #334443;
    top: 20px;

}
.cont{
    padding: 10px;
}
.cont:hover{
    position: relative;
    bottom: 5px;
}

.header{
    position: fixed;
    height: 70px;
    width: 100%;
    background-color: #FFFBDF;
    margin: 0;
    padding: 0;
}

.upper{
    height: 200;
    width: auto;
    text-align: center;
    
}

.project{
    /* text-align: center; */
    margin: 50px auto 50px auto;
    padding: 20px;
    height: 100%;
    width: 60%;
    background-image: linear-gradient(to right, #C6FFDD,#FBD786,#f7797d);
    border-radius: 20px;
    box-shadow: 10px 10px 8px gray;
}

.profile{
    margin: 50px;
    width: 60%;
    margin: auto;
}

.footer{
    margin-top: 100px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    background-color: #eee7e3;
    height: 100%;
}

.floating{
    float: left;
    padding-right: 20px;
}

.intro{
    position: absolute;
    margin: auto;
    top: 30%;
    width: 100%;
    text-align: center;
    font-family: 'Beau Rivage', cursive;
    font-size: 2rem;
    color: #E26A2C;
}

.profile{
    text-align: center;
}

.end{
    font-size: 0.5rem;
}


/* ############# ID ############### */

#profile-img{
    margin: 20px;
}